.bg1{
    background-color:#a78bfa;
    height: 200px;
    width:260px;
} 

.bg2{
    background-color:#7b4ae1;
    height: 200px;
    width:260px;
}
.in{
   background-color: #dff0d8;
   height:100vh;
}
