.bg-card-p2{
    background-color: white;
    height:100vh;
}
.txt-p2{
    color: #184b56;
    font-size: 27px;
    font-weight: bolder;
 }
 .pad1-p2{
    padding-top:30px ;
 }
 .txt1-p2{
    color:#5a7184 ;
    font-size: 18px;
 }
 .pad-l-p2{
    padding-left: 90px;
 }
.div-pad-left1{
    padding-left: 140px;
    padding-top:20px;
}
.div-pad-left2{
    padding-left:60px;
    padding-top:20px;
}

.div-pad-left3{
    padding-left:145px;
    padding-top:20px;
}
.div-pad-left4{
    padding-left:70px;
    padding-top:20px;
}