.bg-card{
    background-color: black;
    height: 100vh;
}
.img-p1{
    height: 300px;
}
.pad-p1{
    padding: 25px;
}
.pad-p2{
    padding: 8px;
}
.bt-p1{
    background-color: yellow;
    border-style: none;
    border-radius: 4px;
    padding: 6px;

}
.bt2-p1{
    background-color: #0e1ce3;
    border-style: none;
    border-radius: 4px;
    padding: 6px;
    color: white;

}
.text-p1{
    color:#81828c ;
}
.margin{
    margin-left:14px ;
}