.bg-card{
    background-color: white;
    background-size: cover;
    height: 100vh;
}
.bg2-card{
    background-color: #f7f7f7;
}
.pad{
    padding-left: 500px;
    padding-top: 20px;
}
.bt{
    border-style: none;
}
.pad-left{
    padding-left:220px;
}
.text1{
    color:#101061
}
.bt2{
    border-style: none;
    color: white;
    background-color: #101061;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;

}
.bt3{
    
    border-style: none;
    color:black;
    background-color:#d2d2d6;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;   
}

.img1{
    height: 450px;
    border-radius: 15px;
}

.pad-text{
    padding-top:200px;
    padding-left: 200px;
}
.pad-img{
    padding-top: 85px;
}
.c-width{
    width: 400px;
}


.p-pad{
    padding-left:26px;
}
.p-pad-whole{
    padding:30px ;
}
.p-width1{
    width:1150px;
}
.p-pad-left{
    padding-left: 1200px;
}
.p-text1{
    font-size: 30px;
}
