.bg-card{
    background-color: #225db0;
    height: 140vh;
    background-size: cover;
}
.text{
    color: white;
    font-size: 20px;
    padding: 5px;
}
.bt{
   background-color:#225db0;
   border-color: white;
   color: white;

}